{include file="header.html"}
<div class="mainBody">
<div class="leftText" style='border: 1px solid #CCCCCC;'>
<div style="margin: 20px;">
<table width="100%" cellspacing="1" cellpadding="5" border="0"
	align="center">
	<tbody>
		<tr>
			<td width="691"
				style="border-bottom: 1px solid rgb(213, 216, 223); padding-bottom: 10px; padding-top: 20px;">
			<div align="center"><span
				style="font-size: 18px; font-weight: bold;">报告查询结果</span>
			</div>
			</td>
		</tr>
		<tr>
			<td class="content">
				{if $reportInfo}				
<table cellspacing="1" cellpadding="0" border="0" width="100%">
				<tbody>
					<tr bgcolor="#ffffff">
						<td height="22" class="height" colspan="4">
						<table cellspacing="1" cellpadding="0" border="0" width="100%">
							<tbody>
								<tr>
									<td height="30">
									<div align="center"><strong><span class="style1">{$reportInfo.ypcode}</span></strong></div>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td height="30" width="22%" class="height">
						<div align="left"></div>
						</td>
						<td height="30" width="31%" class="height">
						<div align="left"></div>
						</td>
						<td height="30" width="21%" class="height">
						<div align="left"></div>
						</td>
						<td height="30" width="26%" class="height">
						<div align="left"></div>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td height="30" class="height">
						<div align="left"><strong>报告编号</strong>：</div>
						</td>
						<td height="30" class="height">
						<div align="left">{$reportInfo.wtd_code}</div>
						</td>
						<td height="30" class="height"></td>
						<td height="30" class="height">
						<div align="left">
						<div align="left"></div>
						</div>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td height="30" class="height">
						<div align="left"><strong>委托单位</strong>：</div>
						</td>
						<td height="30" class="height">
						<div align="left">{$reportInfo.wtdw}</div>
						</td>
						<td height="30" class="height"></td>
						<td height="30" class="height">
						<div align="left">
						<div align="left"></div>
						</div>
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td height="30" class="height">
						<div align="left"><strong>委托人</strong>：</div>
						</td>
						<td height="30" class="height">
						<div align="left">{$reportInfo.syz}</div>
						</td>
						<td height="30" class="height">
						<div align="left"><strong>质量(g)(检验前/后)</strong>：</div>
						</td>
						<td height="30" class="height">
						<div align="left">{$reportInfo.wtzl}</div>
						</td>
					</tr>					
					<tr bgcolor="#ffffff">
						<td height="30" class="height">
						<div align="left"><strong>检验结果</strong>：</div>
						</td>
						<td bgcolor="#ffffff" height="30" class="height" colspan="3">
						<div align="left">{$reportInfo.gjsjyjg}</div>
						<div align="left"></div>
						<div align="left"></div>
						</td>
					</tr>
				</tbody>
			</table>

				{else}
					查询无结果
				{/if}
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="righText">
	{include file="card/right.html"}
</div>
</div>
{include file="footer.html"}
