<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理系统</title>
<link rel="stylesheet" rev="stylesheet" href="{$smarty.const.ADMIN_CSS_PATH}style.css" type="text/css" media="all" />
<script type="text/javascript" src="{$smarty.const.BASE_DOMAIN}plugins/fckeditor/fckeditor.js"></script>
<style type="text/css">
{literal}
<!--
.atten {font-size:12px;font-weight:normal;color:#F00;}
-->
{/literal}
</style>
</head>

<body class="ContentBody">
  <form action="" method="post" enctype="multipart/form-data" name="form1">
<div class="MainDiv">
<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
  <tr>
      <th class="tablestyle_title" >修改文章</th>
  </tr>
  <tr>
    <td class="CPanel">
		
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		<tr><td align="left">
		<input type="button" name="Submit" value="修改" class="button" onclick="from1.submit();"/>　
			
			<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/>
		</td></tr>
		</TABLE>
	 </td>
  </tr>
  <TR>
			<TD width="100%">
				<fieldset style="height:100%;">
				<legend>修改文章</legend>
					  <table border="0" cellpadding="5" cellspacing="1" style="width:100%">
					   <tr>
                        <td nowrap="nowrap" align="right">文章标题:</td>
					    <td><span class="red">
                          <input name="article[title]" type="text" class="text" style="width:354px" value="{$article.title}" />
					      *</span></td>
					  </tr>
					  <tr>
                        <td nowrap="nowrap" align="right">所属分类:</td>
					    <td><span class="red">
                          <select name="article[cid]">
							{$category}
						  </select>
						  </span></td>
					  </tr>
					  <tr>
                        <td nowrap="nowrap" align="right">作者:</td>
					    <td><span class="red">
                          <input name="article[author]" type="text" class="text" style="width:154px" value="{$article.author}" />
					      </span></td>
					  </tr>
					  <tr>
                        <td nowrap="nowrap" align="right">文章简介:</td>
					    <td><span class="red">
                          <textarea name="article[memo]" rows="8" cols="100">{$article.memo}</textarea>
					      </span></td>
					  </tr>
					  <tr>
                        <td nowrap="nowrap" align="right">图片:</td>
					    <td><span class="red">
                          <input type="text" name="article[pic]" readonly id="filename" size="50" value="{$article.pic}"/>&nbsp;&nbsp; <input type="button" onclick="showDialog('filename');" value="上传图片"></span></td>
					  </tr>
					  <tr>
                        <td nowrap="nowrap" align="right">内容:</td>
						<td><span class="red">
					
<script type="text/javascript">
<!--
var oFCKeditor = new FCKeditor( 'content' ) ;
oFCKeditor.BasePath = '/plugins/fckeditor/' ;
oFCKeditor.Height	= 400 ;
oFCKeditor.Width	= 630 ;
oFCKeditor.Value	= '{$article.content}' ;
oFCKeditor.Create() ;
-->
</script>
						</span></td>
					  </tr>
					  <tr>
                        <td nowrap="nowrap" align="right">推荐位置:</td>
					    <td><span class="red">
                         <input type="radio" name="article[recmd]" value=1 {if $article.recmd==1}checked{/if}>首页推荐&nbsp;&nbsp;<input type="radio" name="article[recmd]" value=2 {if $article.recmd==2}checked{/if}>首页图片轮换推荐&nbsp;&nbsp;<input type="radio" name="article[recmd]" value=0 {if $article.recmd==0}checked{/if}>不推荐&nbsp;&nbsp;
					      </span></td>
					  </tr>
					  <tr>
                        <td colspan=2 ><span class="red">{$msg}</span></td>
					  </tr>
					  </table>
			  <br />
				</fieldset>			
				</TD>
			
		</TR>
		<TR>
			<TD colspan="2" align="center" height="50px">
			<input type="hidden" name="aid" value="{$article.aid}"/>
			<input type="submit" name="issubmit" value="修改" class="button"/>			
			<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/></TD>
		</TR>
		</TABLE>
	 </td>
  </tr>
  </table>

</div>
</form>
{literal}
<SCRIPT language=javascript>
<!--
function showDialog(str){
	window.showModalDialog('uploadpic.php?textid='+str,window,'dialogWidth=400px;dialogHeight=150px;scroll=no');
}
-->
</SCRIPT>
{/literal}
</body>
</html>
