<table cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="height:10px;">
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle" style="background-image: url({$smarty.const.STATIC_PATH}images/bg_buttom.gif); background-repeat: repeat-x; height:63px; padding-top:12px;">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="width:20px;">
                            </td>
                            <td style="width: 450px;">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-left: 4px; padding-right: 4px;" class="buttom_letter">
                                                                <a href="javascript:bottom_service();">
                                                                    服务条款
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_apart.gif">
                                                            </td>
                                                            <td style="padding-left: 4px; padding-right: 4px;" class="buttom_letter">
                                                                <a href="javascript:bottom_law();">
                                                                    法律声明
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_apart.gif">
                                                            </td>
                                                            <td style="padding-left: 4px; padding-right: 4px;" class="buttom_letter">
                                                                <a href="javascript:bottom_links();">
                                                                    友情链接
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_apart.gif">
                                                            </td>
                                                            <td style="padding-left: 4px; padding-right: 4px;" class="buttom_letter">
                                                                <a href="javascript:bottom_contactus();">
                                                                    联系我们
                                                                </a>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height:4px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 20px;" class="buttom_letter">
                                                (c)Copyright 2014 广东星艺装饰集团股份有限公司 版权所有
                                                <a href="http://www.miitbeian.gov.cn/" target="_blank">
                                                    粤ICP备13022898号
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="width:30px;">
                            </td>
                            <td align="right">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="buttom_letter">
                                                旗下公司
                                            </td>
                                            <td style="padding-left:2px; padding-right:2px;">
                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_arrow_red.gif">
                                            </td>
                                            <td style="padding-left:2px; padding-right:2px;" class="buttom_letter">
                                                <a href="http://www.xyjmys.com/" target="_blank">
                                                    家美艺墅
                                                </a>
                                            </td>
                                            <td>
                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_apart.gif">
                                            </td>
                                            <td style="padding-left:2px; padding-right:2px;" class="buttom_letter">
                                                <a href="http://www.xingyisjy.com/" target="_blank">
                                                    星艺设计研究院
                                                </a>
                                            </td>
                                            <td>
                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_apart.gif">
                                            </td>
                                            <td style="padding-left:2px; padding-right:2px;" class="buttom_letter">
                                                <a href="http://www.zuodengbao.com/products.php" target="_blank">
                                                    佐登堡
                                                </a>
                                            </td>
                                            <td>
                                                <img src="{$smarty.const.STATIC_PATH}images/buttom_apart.gif">
                                            </td>
                                            <td style="padding-left:2px; padding-right:2px;" class="buttom_letter">
                                                <a href="http://www.jxybmy.com/" target="_blank">
                                                    艺邦木业
                                                </a>
                                            </td>
                                            <td style="width:30px;">
                                            </td>
                                            <td style="background-image: url({$smarty.const.STATIC_PATH}images/bg_buttom_daobao.gif); background-repeat: no-repeat; width:80px; height:17px; padding-left:12px;">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="buttom_letter">
                                                                <a href="http://www.xydec.com.cn/culturalElectronicPublications.aspx"
                                                                target="_self">
                                                                    电子导报
                                                                </a>
                                                            </td>
                                                            <td style="padding-left:2px;">
                                                                <img src="{$smarty.const.STATIC_PATH}images/bg_buttom_daobao_arrowdown.gif">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>