<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>装饰公司</title>
    <link href="{$smarty.const.STATIC_PATH}css/xydeccss.css" rel="stylesheet" type="text/css"><link rel="Stylesheet" href="{$smarty.const.STATIC_PATH}css/jquery-ui-1.10.2.custom.css" type="text/css" media="all">
    <script src="{$smarty.const.STATIC_PATH}js/analytics.js"></script><script src="{$smarty.const.STATIC_PATH}js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{$smarty.const.STATIC_PATH}js/jquery-ui-1.10.2.custom.js" type="text/javascript"></script> 
    <script src="{$smarty.const.STATIC_PATH}js/xydecjsfun.js" type="text/javascript"></script>
    <link rel="Stylesheet" href="{$smarty.const.STATIC_PATH}css/jquery-ui-1.10.2.custom.css" type="text/css" media="all">
    <script src="{$smarty.const.STATIC_PATH}js/jquery-ui-1.10.2.custom.js" type="text/javascript"></script> 
    <script src="{$smarty.const.STATIC_PATH}js/coin-slider.js" type="text/javascript"></script>
    <link href="{$smarty.const.STATIC_PATH}css/coin-slider-styles.css" rel="stylesheet" type="text/css">
    <meta name="Keywords" content="装修，设计">
</head>
<body>
