<table>
<tbody>
	<tr>
    	<td style="height:384px;">
        	<div class="coin-slider" id="coin-slider-flexslider">
        		<div id="flexslider" style="width: 1024px; height: 384px; position: relative; background-image: url(http://www.xydec.com.cn/uploads/slider/3.jpg); background-position: 0% 0%;">
        			<a href="http://www.xydec.com.cn/branchNewsDetail.aspx?id=64&newsID=11693" target="_blank">
        				<img src="{$smarty.const.STATIC_PATH}images/20150817151648991351.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>
        			<a href="http://www.xydec.com.cn/newsBranchesdetail.aspx?id=10688" target="_blank">
        				<img src="{$smarty.const.STATIC_PATH}images/20150804093300918945.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>
        			<a href="http://www.xydec.com.cn/newsBranchesdetail.aspx?id=10677" target="_blank">
        				<img src="{$smarty.const.STATIC_PATH}images/20150520150304275343.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>
        			<a href="http://www.xydec.com.cn/default.aspx#" target="_self">
        				<img src="{$smarty.const.STATIC_PATH}images/1.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>
        			<a href="http://www.xydec.com.cn/default.aspx#" target="_self">
        				<img src="{$smarty.const.STATIC_PATH}images/2.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>
        			<a href="http://www.xydec.com.cn/default.aspx#" target="_self">
        				<img src="{$smarty.const.STATIC_PATH}images/3.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>
        			<a href="http://www.xydec.com.cn/default.aspx#" target="_self">
        				<img src="{$smarty.const.STATIC_PATH}images/4.jpg" width="1024px" height="384px" border="0" style="display: none;">
        			</a>        			
        		</div>
        	</div>
    	</td>
	</tr>
</tbody>
</table>

<script type="text/javascript" language="javascript">
    $('#flexslider').coinslider({ width: 750, height: 384, links: true});
</script>