<!--
<div class="footer">
  	<div class="box1">
				<h4>关于我们</h4>
				<p>艺恒装饰成立于2014年。集设计、装修、服务于一体, 主要经营办公空间、商业空间、会议室，酒店、车间、会场、展厅、幕墙工程及其他专业装饰工程。</p>
  	</div>
   <div class="box1">
		<h4>Categories</h4>
		<nav>
			<ul>
				<li><a href="">The standard chunk of Lorem Ipsum used since </a></li>
				<li><a href="">Duis a augue ac libero euismod viverra sitth</a></li>
				<li><a href="">Duis a augue ac libero euismod viverra sit </a></li>
				
		    </ul>
		</nav>		
	</div>
	<div class="box3">			
		<div class="f-grid">
	        <h2>合作伙伴</h2>
	        <a href="#"><img src="{$smarty.const.STATIC_PATH}images/gal1.jpg"  alt="pix" class="gal"></a>
	        <a href="#"><img src="{$smarty.const.STATIC_PATH}images/gal2.jpg"  alt="pix" class="gal"></a>
	        <a href="#"><img src="{$smarty.const.STATIC_PATH}images/gal3.jpg" alt="" class="gal"></a>
	        
    	</div>
	</div>
	<div class="clear"></div>	
</div>
-->
<div class="footer1">
	<p class="link">
		<span>Copyright &copy; 2016.哎呦嘿网络科技有限公司 All rights reserved.</span>
    	<br/>冀ICP备16012311号-1<br/>
	</p>

</div>

</div>
</div>
</body>
</html>