{include file="header.html"}
  <div class="infos">
    <!--left-->
    <div class="left">
      <div class="bns"> <strong>联系我们</strong></div>
      <div class="sbdh"> 
        
        <p>{$project.contact}</p>
        
         </div>
    </div>
    <!--right-->

    <div class="neirong">
      <div class="nr_title f12" style=" width:580px; float:right;  padding:0 10px; border:1px #CCC solid;font-weight:bold; font-size:12px; height:27px; line-height:27px; text-align:left; margin-top:10px;">{$article.title}</div>
      <div class="nrs">
          {$article.content}
      </div>
    </div>


    <div class="clear"></div>
  </div>
  <div align="center"> </div>
{include file="footer.html"}