<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易思英语</title>
<link href="{$smarty.const.STATIC_PATH}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="homeWrap">
	<div class="logo"><img src="{$smarty.const.STATIC_PATH}images/hlogo.jpg" alt="易思英语" /></div>
    <div class="homeMain">
    	<img src="{$smarty.const.STATIC_PATH}images/main.jpg" alt="易思英语" />
        <h1>易思英语 您最优的选择</h1> 
    </div>
    <div class="goto"><a href="article/home.php">欢迎进入 &raquo;</a></div>
    <div class="footer">
    	<p>思易语语言培训中心<span>&copy; 版权所有</span></p>
        <p>地址：北京市西城区西环广场T2座10层C9<span>邮编：100035</span><span>电话：010-58302814、58301134</span></p>
        <p>E-mail：advisor@speakeasytc.com</p>
    </div>
</div>
</body>
</html>
