<!DOCTYPE HTML>
<html>
<head>
<title>Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.useso.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrap">
<div class="wrapper">
<div class="header">
<div class="header-left">
      <div class="logo">
        <a href="index.html"><img src="images/logo.png" alt=""></a>
      </div>
</div>
<div class="header-right">
<div class="contact-info">
					<p><img src="images/c-icon.png" title="contact-info" />CALL NOW!</p>
					<p><span>(700) 1234-5678</span></p>
				</div>
</div>
<div class="clear"></div>
<div class="top-nav">
		<ul>
			<li class="active"><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="service.html">Services</a></li>
			<li><a href="contact.html">Contact</a></li>
		<div class="clear"> </div>
		</ul>
</div>
</div> 
<div class="content"> 
<div class="banner">
	<img src="images/banner.jpg" alt="">
</div>
<div class="cont-main">
	<h2>Welcome to&nbsp;<a href="">Lorem Ipsum is simply</a></h2>
<div class="details">
	<div class="det-pic">
		<img src="images/det-pic.jpg" alt="">		
	</div>
	<div class="det-para">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
		<div class="btn1 ">
			<div class="btn-top"><a href="details.html"><button class="btn btn-2 btn-2h">More</button></a></div>
		</div>
	</div>
	</div>
	<div class="clear"></div>
	</div>
</div>
</div>
<div class="sidebar">
	<div class="search-form">
	 <form>
	 	<input type="text" name="s">
	     <a href="#" onclick="document.getElementById('search').submit()">Search</a>
	 </form>
	</div>
	<div class="clear"></div>
	<div class="sidebar-nav">
	<nav>
		<ul>
			<li><img src="images/arrow.png" alt=""><a>Lorem Ipsum Ipsum Ipsum is simply text of the</a></li>
			<li><img src="images/arrow.png" alt=""><a>Cras felis nisl,commodo risus Cras commodo</a></li>
			<li><img src="images/arrow.png" alt=""><a>Lorem Ipsum Ipsum Ipsum is simply text of the</a></li>
			<li><img src="images/arrow.png" alt=""><a>Cras felis nisl,commodo risus Cras commodo</a></li>
			<li><img src="images/arrow.png" alt=""><a>Lorem Ipsum Ipsum Ipsum is simply text of the</a></li>
			<li><img src="images/arrow.png" alt=""><a>Cras felis nisl,commodo risus Cras commodo</a></li>
			<li><img src="images/arrow.png" alt=""><a>Lorem Ipsum Ipsum Ipsum is simply text of the</a></li>
				<li><img src="images/arrow.png" alt=""><a>Cras felis nisl,commodo risus Cras commodo</a></li>
		</ul>
	</nav>
	</div>
</div>
<div class="sidebar1">
	<h4>Services</h4>
	<img src="images/pic3.jpg" width="195px" alt="">
	<nav>
		<ul>
			<li><a>Nam luctus diam urna, sed sagittis </a></li>
			<li><a>Cras at felis nisl, a commodo risus</a></li>
			<li><a>Lorem Ipsum is simply text of dummy</a></li>
			<li><a>Lorem Ipsum is simply text of dummy</a></li>
			<li><a>Cras at felis nisl, a commodo risus</a></li>
			<li><a>Lorem Ipsum is simply text of dummy</a></li>
			<li><a>Cras at felis nisl, a commodo risus</a></li>
			<li><a>Lorem Ipsum is simply text of dummy</a></li>
			<li><a>Cras at felis nisl, a commodo risus</a></li>
			<li><a>Ut non ante a odio ullamcorper cur,</a></li>
			<li><a>Lorem Ipsum is simply text of dummy</a></li>
			<li><a>Vivamus vehicula pellentesque mi,cs</a></li>
			<li><a>Lorem Ipsum is simply text of dummy</a></li>
		</ul>
	</nav>
</div>
<div class="clear"></div>
<div class="footer">
  <div class="box1">
				<h4>What We Do</h4>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. ions from the 1914 translation  below for those  by H. Rackham</p>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those The standard chunk of Lorem Ipsum used since the 1500s is reproduced</p>
  </div>
   <div class="box1">
	<h4>Categories</h4>
	<nav>
		<ul>
			<li><a href="">The standard chunk of Lorem Ipsum used since </a></li>
			<li><a href="">Duis a augue ac libero euismod viverra sitth</a></li>
			<li><a href="">Duis a augue ac libero euismod viverra sit </a></li>
			<li><a href="">The standard chunk of Lorem Ipsum used since </a></li>
			<li><a href="">Duis a augue ac libero euismod viverra sitth</a></li>
			<li><a href="">Duis a augue ac libero euismod viverra sit </a></li>
	    </ul>
	</nav>
	</div>
	<div class="box3">			
	<div class="f-grid">
        <h2>Image Gallery</h2>
        <a href="#"><img src="images/gal1.jpg"  alt="pix" class="gal"></a>
        <a href="#"><img src="images/gal2.jpg"  alt="pix" class="gal"></a>
        <a href="#"><img src="images/gal3.jpg" alt="" class="gal"></a>
        <a href="#"><img src="images/gal4.jpg"  alt="pix" class="gal"></a>
        <a href="#"><img src="images/gal5.jpg"  alt="pix" class="gal"></a>
        <a href="#"><img src="images/gal6.jpg"  alt="pix" class="gal"></a>
        <a href="#"><img src="images/gal1.jpg"  alt="pix" class="gal"></a>
        <a href="#"><img src="images/gal2.jpg"  alt="pix" class="gal"></a>
      </div>
	</div>
<div class="clear"></div>			
</div>
<div class="footer1">
	<p class="link"><span>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span></p>
</div>
</div>
</body>
</html>