<div class="footer">
	<h2>&nbsp;友情链接</h2>
</div>
<div class="footerLink">
	<table cellpadding="0" cellspacing="0">
    	<tr>
        	<td><a target="_blank" href="http://www.qgnjc.com.cn"><img src="{$smarty.const.IMG_PATH}qgyzl.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.pxzb.net"><img src="{$smarty.const.IMG_PATH}ylsbspx.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.gem-y.net"><img src="{$smarty.const.IMG_PATH}zbpx.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.chinagoldgroup.com"><img src="{$smarty.const.IMG_PATH}zghjjt.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.bjcaibai.com.cn"><img src="{$smarty.const.IMG_PATH}lbss.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.go24k.com"><img src="{$smarty.const.IMG_PATH}zghjzxw.jpg" /></a></td>
        </tr>
    	<tr>
        	<td><a target="_blank" href="http://www.cnca.gov.cn"><img src="{$smarty.const.IMG_PATH}zggkrz.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.cnas.org.cn"><img src="{$smarty.const.IMG_PATH}hgpdwyh.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.sac.gov.cn"><img src="{$smarty.const.IMG_PATH}bzhglwyh.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.china-cas.org"><img src="{$smarty.const.IMG_PATH}bzhxh.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.bje.com.cn"><img src="{$smarty.const.IMG_PATH}bjgjzbjy.jpg" /></a></td>
        	<td><a target="_blank" href="http://www.gold.org"><img src="{$smarty.const.IMG_PATH}sjhjxh.jpg" /></a></td>
        </tr>
    </table>
</div>
<div class="bottom">
	<div style="float:left; padding-left:30px;"><img src="{$smarty.const.IMG_PATH}logobottom.jpg" /></div>
    <div style="float:left; padding-left:160px;">
        <p>版权归国家首饰质量监督检验中心所有 Copyright reserved.  工信部备案：京ICP备06004873号</p>
        <p>中心地址：北京市朝阳区大屯路甲2号  电话：010-64849827  传真：010-64870362</p>
        <p>深圳实验室地址：深圳市罗湖区贝丽北路71号水贝玉器批发市场2楼E区 电话：0755-25633295</p>
        <p>本站访问次数：{$fluxcount} </p>
    </div>
</div>
</div>
<iframe src="{$smarty.const.BASE_DOMAIN}flux/fluxlog.php?url={$smarty.server.REQUEST_URI}" frameborder="0" height="0" width="0" noresize="noresize"></iframe> 
</body>
</html>
